.button {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;

    border-radius: 25px !important;
    transition-duration: .5s;
}

button.button {
    border: none;
    outline: none;
    height: 3rem;
    width: 100%;
}

a.button {
    text-align: center;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.button:hover {
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    background-color: #3b00ff;
}

a.button:hover {
    text-decoration: none;
}