.benefit-item {
    margin-top: 3rem;
}

.benefit-item .title {
    text-align: justify;
    color: #000000;
    font-weight: 500;
    font-size: 1.15rem;
    margin-top: 2rem;
}

.benefit-item .text {
    margin-top: 1.2rem;
    color: var(--color-dark-grey);
    font-size: .875rem;
}

.benefit-item img {
    width: 100%;
}