.review-item {
    text-align: center;
    margin-top: 2rem;
}

.review-item .user-info {
    margin: 2rem 0;
}

.review-item .user-info img {
    margin-bottom: 1rem;
    width: 8rem;
}

.review-item .user-info span {

}

.review-item .review-body .text {
    text-align: center;
    margin-bottom: 2rem;
}