footer {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 4rem 0;
}

footer a {
    color: inherit;
}
footer a:hover {
    color: inherit;
}

footer .item-container {

}
footer .item-container .item {
    margin: 2rem 0;
}

footer .item-container .item .social-icons {
    margin-top: 1rem;
}

footer .item-container .item .social-icons .icon {
    display: inline-block;
    margin-right: .875rem;
}

footer .item-container .item .social-icons .icon img {
    max-width: 2.5rem;
}