:root {
    --color-black: #2F2F2F;
    --color-grey: #515151;
    --color-blue: #3700D4;
    --color-white: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

.i-am-centered {
    margin: auto;
    max-width: 300px;
}