:root {
    --color-black: #2F2F2F;
    --color-grey: #515151;
    --color-blue: #3700D4;
    --color-white: #FFFFFF;
}

*{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

select:focus {
    background-color: #fff;
    border-color: rgba(55, 0, 212, 0.5) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(55, 0, 212, 0.4) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

}